.profile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 74px;
}

@media screen and (max-width: 900px) {
  .profile{
    height: calc(100vh - 74px);
    margin: 0;
  }
}

@media screen and (max-width: 610px) {
  .profile {
    height: calc(100vh - 70px);
    margin: 0;
  }
}

.profile__form {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile__form {
    height: 445px;
    margin-top: 236px;
  }
}


@media screen and (max-width: 610px) {
  .profile__form {
    margin-top: 70px;
    width: 260px;
    height: 100%;
  }
}

.profile__greeting {
  padding: 0;
  margin: 0 0 123px 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width: 900px) {
  .profile__greeting {
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 610px) {
  .profile__greeting {
    margin-bottom: 80px;
  }
}

.profile__fields {
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.profile__field {
  background-color: transparent;
  border: none;
  outline-color: transparent;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
  color: var(--font-color-light);
  text-align: right;
  padding: 5px 0;
}

.profile__field:-internal-autofill-selected{
 background-color: black;
}

.profile__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 16px 0;
  position: relative;
}

.profile__label:not(:last-of-type) {
  border-bottom: 1px solid var(--semi-transparent);
}

.profile__label:not(:first-of-type) {
  margin-top: 17px;
}

.profile__label:focus {
  border-bottom: 1px solid var(--button-color);
}

.profile__field:invalid {
  color: var(--mistake-color);
}

.profile__field-name {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.21;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
}

.profile__field-error {
  text-align: end;
  position: absolute;
  bottom: 2px;
  right: 0;
  left: 0;
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.21;
  color: var(--mistake-color);
}

.profile__server-response {
  display: inline-block;
  height: 14px;
  opacity: 0;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: transparent;
  transition: all 1.2s linear;
}

.profile__server-response:first-of-type {
  margin-top: 170px;
}

@media screen and (max-width: 900px) {
  .profile__server-response:first-of-type {
    margin-top: 100px;
  }
}

@media screen and (max-width: 610px) {
  .profile__server-response:first-of-type {
    margin-top: 0;
  }
}

.profile__server-response_success {
  opacity: 1;
  color: var(--accent-color);
}

.profile__server-response_failure {
  opacity: 1;
  color: var(--mistake-color);
 }

