.page {
  margin: 0;
  padding: 0 70px;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  color: var(--font-color-light);
  --accent-color: #3ddc84;
  --font-color-light: #fff;
  --button-color: #4285f4;
  --background-color: #202020;
  --background-color-accent: #272727;
  --grey-color: #303030;
  --mistake-color: #ee3465;
}
