.movies__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

@media screen and (max-width: 900px) {
  .movies__wrapper {
    padding-top: 64px;
  }
}

@media screen and (max-width: 500px) {
  .movies__wrapper {
    padding-top: 40px;
  }
}

.movies__error {
  color: var(--font-color);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  padding: 0 25px;
}

.movies__list {
  list-style: none;
  padding: 0;
  margin: 0 0 74px;
  width: 100%;
  display: grid;
  gap: 30px 24px;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  list-style-type: none;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .movies__list {
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    gap: 30px 5%;
  }
}

@media screen and (max-width: 760px) {
  .movies__list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-bottom: 80px;
    gap: 36px 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies__list {
    max-width: 100%;
    grid-template-columns: minmax(200px, 1fr);
  }
}

.movies__btn {
  border-radius: 6px;
  width: 320px;
  height: 36px;
  padding: 11px 0 9px;
  background-color: #2f2f2f;
  margin: 0 0 80px;
  border: none;
  cursor: pointer;
  color: var(--font-color-light);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.21;
  transition: opacity 0.4s linear;
}

.movies__btn:hover {
  opacity: 0.8;
}